@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    background-color: white;
  }

  ::-webkit-scrollbar-thumb:hover {
  }
  /* Hide scrollbar for WebKit (Chrome, Safari) */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
